<head>
  <title>Article Index(Homepage)</title>
  
  <%= stylesheet_link_tag "articles", media: "all", "data-turbolinks-track" => "reload" %>
  <%= javascript_include_tag "application", media: "all", 'data-turbolinks-track' => "reload" %>
</head>
<body>
  .
  <div class="jumbotron">
    <div class="row">
      <div class="col" id="date">
        <h3><%= Time.now.strftime("%A, %B %d")  %></h3>
      </div>
    </div>
  </div>


<div class="contain">

  <div class="row">
    <div class="row__inner">

    <% @articles.each do |a| %>
      <div class="tile">
        <div class="tile__details">
            <p id="title"><%= a.title %></p>
        </div>
      </div>
    <% end %>

    </div>
  </div>

</div>


<!--<a class="prev" onclick="shiftSlides(-1)">&#10094;</a> -->

<!--<div class="slideshow-container">-->

  <!-- Full-width images with number and caption text -->
<!--  <% @articles.each do |ar| %>-->
<!--  <div class="slides">-->
<!--      <div class="col-sm-4">-->
<!--        <p><%= ar.title %></p>-->
<!--      </div>-->
<!--  </div>-->
<!--  <% end %>-->
<!--</div>-->

  
<!--  <a class="next" onclick="shiftSlides(1)">&#10095;</a>-->

<!--<br>-->

<!--<div id="test">-->
  
<!--</div>-->

  
</body>


