<head>
  <title>Article Index(Homepage)</title>
  
  <%= stylesheet_link_tag "articles", media: "all", "data-turbolinks-track" => "reload" %>
  <%= javascript_include_tag "application", media: "all", 'data-turbolinks-track' => "reload" %>
</head>
<body>
  .
  <div class="jumbotron">
    <div class="row">
      <div class="col" id="date">
        <h3><%= Time.now.strftime("%A, %B %d")  %></h3>
      </div>
    </div>
  </div>


<div class="contain">

  <div class="row">
    <div class="row__inner">

    <% @articles.each do |a| %>
      <%= link_to a.url do %>
      <div class="tile">
        <div class="tile__details">
            <p id="title"><%= a.title %></p>
            <p id="source"><%= a.source %></p>
            <p id="date"><%= a.pub_date.strftime("%b %e, %l:%M %p")  %></p>
        </div>
      </div>
      <% end %>
    <% end %>

    </div>
  </div>

</div>

  
</body>


